:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgb(255, 0, 86);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

* {
}


@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  background-color: var(--background-light);
}

.navbar {
  height: 5rem;
  box-shadow: 0px 3px 6px var(--shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15vw;
  .logo {
    font-weight: bolder;
    font-size: 1.5em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    text-shadow: 0 1px 3px var(--shadow-color);
    span {
      color: var(--text-color);
    }
  }

  .sidebar-btn {
    width: 30px;
    height: 28px;
    position: relative;

    .bar {
      height: 6px;
      width: 100%;
      border-radius: 5px;
      background-color: var(--text-color);
      position: absolute;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform:scale(0.8) translateY(-50%);
        transform-origin: right;
      }
      &:nth-child(3) {
        top: 100%;
        transform:scale(1.2) translateY(-100%);
        transform-origin: right;  
    }
    }
    &.active{
        .bar{
            transform-origin: center;
            top: 50%;
            &:nth-child(1){
                transform: translate(0,-50%) scale(1) rotate(45deg);
            }
            &:nth-child(2){
                transform: translate(0,-50%) scale(0);
            }
            &:nth-child(3){
                transform: translate(0,-50%) scale(1) rotate(-45deg);
            }
        }
    }
  }
}
a {
  text-decoration: none;
}

.nav-links {
  a {
    margin-left: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-light);
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      height: 3px;
      width: 100%;
      background-color: var(--primary-color);
      position: absolute;
      bottom: -5px;
      left: 0px;
      transform: scaleX(0);
      transform: getAnimationDuration(.2s) ease-in-out;
    }
    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
    &.active {
      color: var(--primary-color);
      font-weight: bold;
    }
  }
}
